<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Application | Information</title>
  </head>
  <body>
    <header><h1>{{name}}</h1></header>
    <table>
      <tr>
        <th>Client ID</th>
        <td>{{client_id}}</td>
      </tr>
      <tr>
        <th>Client Secret</th>
        <td>{{client_secret}}</td>
      </tr>
      <tr>
        <th>Redirect URLs</th>
        <td>{{redirect_urls}}</td>
      </tr>
      <tr>
        <th>Client Type</th>
        <td>Public</td>
      </tr>
      <>
        <th>Authorization Grant Type</th>
        <td>Authorization code</td>
      </tr>
    </table>
  </body>
</html>
